body {
    background-image: url(Images/Achtergrond.png);
    background-size: cover;
}

.container {
    /* padding-left: 8%;*/
}

#map {
    height: 500px;
    width: 80%;
    margin-left: 10%;
}

#map2 {
    height: 500px;
    width: 80%;
    margin-left: 10%;
}

#geschiedenis {
    padding-bottom: 5%;
}

#bold {
    font-weight: 600;
}

.nav-link {
    font-size: 20px;
    margin-left: 2%;
}

.navigatiebalk {
    position: fixed;
    height: 100%;
    width: 150px;
    top: 0;
}

.form-inline {
    margin-left: 2%;
}

.gif {
    position: relative;
    padding-top: 2%;
    padding-left: 30%;
}

.hamburger {
    content: url(Images/Hammenu.png);
    width: 50px;
    height: 50px;
}

.logo {
    position: relative;
    padding-left: 15%;
}

.imageM {
    content: url(http://38.media.tumblr.com/f6a54c1a2a70d9f85dd15a645ed9cd6e/tumblr_nuao8rYnSp1rj05e4o1_500.gif);
    height: 40%;
    width: 40%;
    /*padding-top: 5%;
   /* padding-left: 10%;*/
}

.imageR {
    content: url(Images/RioGrande1.jpg);
    height: 40%;
    width: 40%;
    /*padding-top: 5%;
   /* padding-left: 10%;*/
}

.mississippi-info {
    padding-top: 2%;
    /*padding-left: 5%;*/
    background-color: rgba(28, 167, 167, 0.5);
}

.tussenregel {
    padding-top: 10%;
    padding-bottom: 10%;
    /*padding-left: 10%;*/
}

.titel {
    color: saddlebrown;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 40px;
    font-family: 'Bitter', serif;
}
